@using AcMeCompany.Module.TheModule.Services
@using AcMeCompany.Module.TheModule.Models

@namespace AcMeCompany.Module.TheModule
@inherits ModuleBase
@inject ITheModuleService TheModuleService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer

@if (_TheModules == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ActionLink Action="Add" Security="SecurityAccessLevel.Edit" Text="Add TheModule" ResourceKey="Add" />
    <br />
    <br />
    @if (@_TheModules.Count != 0)
    {
        <Pager Items="@_TheModules">
            <Header>
                <th style="width: 1px;">&nbsp;</th>
                <th style="width: 1px;">&nbsp;</th>
                <th>@Localizer["Name"]</th>
            </Header>
            <Row>
                <td><ActionLink Action="Edit" Parameters="@($"id=" + context.TheModuleId.ToString())" ResourceKey="Edit"  /></td>
                <td><ActionDialog Header="Delete TheModule" Message="Are You Sure You Wish To Delete This TheModule?" Action="Delete" Security="SecurityAccessLevel.Edit" Class="btn btn-danger" OnClick="@(async () => await Delete(context))" ResourceKey="Delete"  Id="@context.TheModuleId.ToString()" /></td>
                <td>@context.Name</td>
            </Row>
        </Pager>
    }
    else
    {
        <p>@Localizer["Message.DisplayNone"]</p>
    }
}

@code {
    public override string RenderMode => RenderModes.Static;

    public override List<Resource> Resources => new List<Resource>()
    {
        new Stylesheet("_content/AcMeCompany.Module.TheModule/Module.css"),
        new Script("_content/AcMeCompany.Module.TheModule/Module.js")
    };

    List<TheModule> _TheModules;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _TheModules = await TheModuleService.GetTheModulesAsync(ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading TheModule {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Delete(TheModule TheModule)
    {
        try
        {
            await TheModuleService.DeleteTheModuleAsync(TheModule.TheModuleId, ModuleState.ModuleId);
            await logger.LogInformation("TheModule Deleted {TheModule}", TheModule);
            _TheModules = await TheModuleService.GetTheModulesAsync(ModuleState.ModuleId);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Deleting TheModule {TheModule} {Error}", TheModule, ex.Message);
            AddModuleMessage(Localizer["Message.DeleteError"], MessageType.Error);
        }
    }
}